<!DOCTYPE html>
<html lang="es">
<head>
  {% block title %}<title>Osu!Colombia Voting System</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div>
      {% block navigation %}
      <div class="navigation">
          <span><a id="nav-home" href="{% url 'index' %}">Sistema de votación 2022</a></span>
          <span><a id="nav-votes" href="">Votos</a></span>
          <span><a id="nav-results" href="">Resultados</a></span>
      </div>
     {% endblock %}
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
<Footer id="piesito"><img id="logo_github" src="{% static 'css/svg/github_logo_white.svg'%}" atl="Github">Developed by <span><a href="https://github.com/schnrz" target="_blank">Schwarze</a></span> & <span><a href="https://github.com/Erio56" target="_blank">Erio</a></span></Footer>
</html>