<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Iniciar sesión con Osu!</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1 id="titulo">Iniciar sesión</h1>
  <div class="container">
    <img>
      <img id="kksu" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Osu%21_Logo_2016.svg" alt="Logo de osu que no carga, gracias pepaPig"></img>
      <botton class="login_botton"><span>Iniciar sesión con Osu!</span></botton>
    </form>
  </div>
<footer id="piesito"> Developed by <span><a href="https://github.com/schnrz">Schwarze</a></span> & <span><a href="https://github.com/Erio56">Erio</a></span></footer>
</body>
</html>