<!DOCTYPE html>
<html lang="es">
<head>
  {% load static %}
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Iniciar sesión con Osu!</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1 id="titulo">Iniciar sesión</h1>
  <div class="container">
    <img>
      <img id="kksu" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Osu%21_Logo_2016.svg" alt="Logo de osu que no carga, gracias pepaPig"></img>
      <a href="{% url 'auth' %}">
        <button class="login_button">
          <span>Iniciar sesión con Osu!</span>
        </button>
      </a>
    </form>
  </div>
<Footer id="piesito"><img id="logo_github" src="{% static 'css/svg/github_logo.svg'%}" atl="Github">Developed by <span><a href="https://github.com/schnrz" target="_blank">Schwarze</a></span> & <span><a href="https://github.com/Erio56" target="_blank">Erio</a></span></Footer>
</body>
</html>