{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/stylevotes.css' %}">
  <div class="container">
    <a href="{% url 'auth' %}">
      <button class="login_button">
        <span>Votar</span>
      </button>
    </a>
    <a href="{% url 'auth' %}">
      <button class="login_button">
        <span>Ver resultados</span>
      </button>
    </a>
  </div>
  
  <link rel="stylesheet" href="{% static 'css/stylevotes.css' %}">
  <div class="logout">
    <a href="{% url 'auth' %}">
      <button id="logout_button">Cerrar sesión</button>
    </a>  
  </div>
{% endblock %}
